  
body{


    background-color: gainsboro;
}
#main{




   
    display: flex;
    /* justify-content: center;
    align-items: center; */
    /* height: 685px;
   
    
    background-color: gainsboro; */


}



#leftSide{

    width: 24%;
    display: flex;
     
    
    justify-content: center;
    margin: auto;
      background-color: white;
      height: 620px;
     margin-right: 2px;
    
     }
    #center{
    
    
        width: 45%;
        
       justify-content: center;
        align-items: center;
       
        background-color: white;
      height: 620px;
    }
    
    #rightSide{
         
        width: 31%;
        display: flex;
      
        background-color: white;
        
      height: 620px;
       margin-left: 2px;
        
        }
        /* --------------------------------- logo start */
        .logo{

            padding-top: 10px;
            color: rgb(29, 161, 242);
            font-size: 30px;
         
        }
        .left-menu {
            flex-direction: column;
            flex: 0 1 275px;
             
        
          }
          /* _______________________ logo complate */

          .homecolor  {

            font-size: 22px;
            color: black;
            padding-top: 20px;
          }
        .homestyle{
font-weight: bolder;
padding-left: 15px;
padding-top: 20px;
        }

          /* -------------------------------------  Home complate */
          .Explore{

            font-size: 22px;
            color: black;
            padding-top: 20px;
          }

          /* ----------------------------------------------- */


          .Notifications{

            font-size: 22px;
            color: black;
            padding-top: 20px;
         

          }

          /* --------------------------------------- */
          .Messages{

            font-size: 22px;
            color: black;
            padding-top: 20px;
         


          }


          .Bookmarks{

            font-size: 22px;
            color: black;
            padding-top: 20px;
         



          }
  /* --------------------------------------- */
  .Lists{

    font-size: 22px;
    color: black;
    padding-top: 20px;
 


  }
  .Profile{

    font-size: 22px;
    color: black;
    padding-top: 20px;
 


  }
  .More{

    font-size: 22px;
    color: black;
    padding-top: 20px;
 


  }

  .button1{

margin-top: 20px;
padding: 10px 70px 10px 70px;
font-weight: 700;
  }
  .Profile1{

    font-size: 25px;
    color: black;
    padding-top: 30px;
 


  }


  .img{

 margin-left: 10px;
    border-radius: 40px;

  }
  textarea {
    width: 90%;
    padding: 15px 0px 0px 15px;

 
   
    font-size: 18px;
    border: none;
  
    overflow: auto;
    outline: none;
  
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  
    resize: none;
  }


  
  
  
  /* -------------------------------*/
 
  .search-bar-icon {
    position: relative;
    top: 0px;
    left: 70px;
    
  }
  input.search-bar {
    width: 350px;
    height: 45px;
    border-radius: 30px;
    border-style: none;
    background-color: #e6ecf0;
   
    margin: 7px 10px 0px 28px;
    box-sizing: border-box;
  }

 